@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800');
* {
  font-family: 'Poppins', sans-serif;
}

/*--------------Main page styles--------------*/
.selector-container {
  margin: auto;
  text-align: center;
}
.selector-container h1 {
  font-size: 5em;
  font-weight: 800;
}
.selector-container p {
  font-size: 2.5em;
}

.restaurant-button {
  display: grid;
  margin: auto;
  max-width: 80%;
  margin-bottom: 20px;
  align-content: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.restaurant-button img {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 400px;
}

.restaurant-button .phone {
  font-size: 2em;
  text-decoration: underline;
  color: inherit;
}

.restaurant-button .description {
  font-size: 2.5em;
}

.restaurant-button .seemore {
  font-size: 2.5em;
  font-style: italic;
  text-decoration: underline;
  color: inherit;
}

#cafe {
  background-color: black;
  outline: 10px solid #7861aa;
  outline-offset: -25px;
  color: #FFF;
}

#cafe h2 {
  font-size: 3.5em;
  font-weight: 700;
  color: #7861aa;
}

#bella {
  border: 15px solid #277b3d;
  outline: 15px solid red;
  outline-offset: -40px;
  color: #000;
}


/*--------------Café page styles--------------*/
.cafe-body {
  background-color: black;
  color: #7861aa;
  max-width: 1000px;
}

.cafe-body .current-tab {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: white;
}

.cafe-header {
  margin: 0;
  text-align: center;
}
.cafe-header h1 {
  font-size: 5em;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: white;
  margin-bottom: 5px;
}

.cafe-navigation {
  font-size: 2em;
  text-decoration: none;
  display: grid;
  grid-column-gap: 5px;
  margin-bottom: 15px;
}
.cafe-navigation button {
  background: none;
  outline: none;
  text-decoration: none;
  font-size: 1.5em;
  border: none;
  color: inherit;
}
.cafe-nav-menu {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cafe-nav-info {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}
.cafe-nav-posts {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}
.cafe-nav-reviews {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5;
}
.cafe-nav-events {
  grid-row-start: 1;
  grid-column-start:5;
  grid-column-end: 6;
}

.cafe-menu, .cafe-info, .cafe-posts, .cafe-reviews, .cafe-events {
  margin: auto;
  width: 80%;
  border: 10px solid #7861aa;
  padding: 15px;
}
.cafe-menu h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 4em;
  text-decoration: underline;
}
.cafe-menu p {
  color: white;
  font-size: 2em;
}
.cafe-menu table, .cafe-info table {
  font-size: 2.2em;
  text-align: left;
  width: 100%;
}
.cafe-menu th {
  text-decoration: underline;
}
.cafe-menu td {
  color: white;
  text-align: center;
}
.cafe-menu tr > :first-child {
  text-align: left;
}
.cafe-menu table ul {
  text-align: left;
}

.cafe-info {
  display: grid;
  align-content: center;
  color: white;
}
.cafe-info table {
  text-align: center;
}
.cafe-info iframe {
  margin: 25px auto;
}
.cafe-info a {
  color: white;
}

.cafe-posts {
  margin: auto;
}

/*Bella Italia page styles*/
.bella-body {
  background-color: white;
  color: black;
  max-width: 1000px;
}

.bella-body .current-tab {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #277b3d;
}

.bella-header {
  margin: 0;
  text-align: center;
}
.bella-header h1 {
  font-size: 5em;
  font-weight: 800;
  color: #277b3d;
  text-decoration: underline;
  text-decoration-color: red;
  margin-bottom: 5px;
}
.bella-header img {
  max-height: 250px;
}

.bella-navigation {
  font-size: 2em;
  color: #277b3d;
  text-decoration: none;
  display: grid;
  grid-column-gap: 5px;
  margin-bottom: 15px;
}
.bella-navigation button {
  background: none;
  outline: none;
  text-decoration: none;
  font-size: 1.5em;
  border: none;
  color: inherit;
}
.bella-nav-menu {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}
.bella-nav-info {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}
.bella-nav-posts {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}
.bella-nav-reviews {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5;
}
.bella-nav-history {
  grid-row-start: 1;
  grid-column-start:5;
  grid-column-end: 6;
}

.bella-menu, .bella-info, .bella-posts, .bella-reviews, .bella-history {
  margin: auto;
  width: 80%;
  padding: 40px;
  border: 10px solid #277b3d;
  outline: 10px solid red;
  outline-offset: -30px;
}
.bella-menu h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 4em;
  text-decoration: underline;
}
.bella-menu p {
  color: black;
  font-size: 2em;
}
.bella-menu table, .bella-info table {
  font-size: 2.2em;
  text-align: left;
  width: 100%;
  line-height: 1;
}
.bella-menu td {
  border-bottom: 2px dotted black;
}
.bella-menu span {
  font-size: 0.7em;
}

.bella-info {
  display: grid;
  align-content: center;
  color: black;
}
.bella-info table {
  text-align: center;
}
.bella-info iframe {
  margin: 25px auto;
}
.bella-info a {
  color: #277b3d;
}

.bella-posts {
  margin: auto;
}

/*For computer screens*/
@media (min-width: 1000px) {
  body {
    background: gray;
    max-width: 1000px;
    margin: 0 auto;
  }
}
