@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;800');
* {
  font-family: 'Poppins', sans-serif;
}

/*--------------Main page styles--------------*/
.selector-container {
  margin: auto;
  text-align: center;
}
.selector-container h1 {
  font-size: 5em;
  font-weight: 800;
}
.selector-container p {
  font-size: 2.5em;
}

.restaurant-button {
  display: grid;
  margin: auto;
  max-width: 80%;
  margin-bottom: 20px;
  align-content: center;
  padding-top: 25%;
  padding-bottom: 25%;
}

.restaurant-button img {
  display: block;
  margin: auto;
  width: 50%;
  max-width: 400px;
}

.restaurant-button .phone {
  font-size: 2em;
  text-decoration: underline;
  color: inherit;
}

.restaurant-button .description {
  font-size: 2.5em;
}

.restaurant-button .seemore {
  font-size: 2.5em;
  font-style: italic;
  text-decoration: underline;
  color: inherit;
}

#cafe {
  background-color: black;
  outline: 10px solid #7861aa;
  outline-offset: -25px;
  color: #FFF;
}

#cafe h2 {
  font-size: 3.5em;
  font-weight: 700;
  color: #7861aa;
  margin-bottom: 0;
}

#bella {
  border: 15px solid #277b3d;
  outline: 15px solid red;
  outline-offset: -40px;
  color: #000;
}

#cafe p, #bella p {
  margin-top: 5px;
}


/*--------------Café page styles--------------*/
.cafe-body {
  background-color: black;
  color: #7861aa;
  max-width: 1000px;
}

.cafe-body .current-tab {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: white;
}

.cafe-header {
  margin: 0;
  text-align: center;
}
.cafe-header h1 {
  font-size: 5em;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: white;
  margin-bottom: 2px;
  margin-top: 5px;
}
.cafe-header h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: white;
  margin-bottom: 5px;
  margin-top: 0;
}
.cafe-header a {
  font-size: 2.5em;
  font-weight: 400;
  color: white;
  margin-bottom: 5px;
  margin-top: 0;
}

.cafe-navigation {
  width: 100%;
}
 #cafe-nav-button {
   width: 100%;
   background-color: #7861aa;
   border: none;
 }
 #cafe-nav-button img{
  height: 55px;
  margin-right: 10px;
 }
 .cafe-nav-list {
   background-color: #7861aa;
   margin-bottom: 20px;
   padding: 0;
   text-align: left;
   height: 0;
   overflow: hidden;
   transition: .3s all;
 }
 .cafe-nav-list ul {
   margin: 0;
 }
 .cafe-nav-list li {
   list-style-type: none;
   color: black;
 }
 .cafe-nav-list li::marker{
   font-size: 10px;
 }
 .cafe-nav-list button {
   font-size: 3.5em;
   background: none;
   border: none;
 }
 .cafe-nav-list-show {
   height: auto;
 }

.cafe-menu, .cafe-info, .cafe-posts, .cafe-reviews, .cafe-events, .cafe-discounts {
  margin: auto;
  width: 90%;
  border: 10px solid #7861aa;
  padding: 15px;
}
.cafe-menu h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 4em;
  text-decoration: underline;
}
.cafe-menu p {
  color: white;
  font-size: 2em;
}
.cafe-menu table, .cafe-info table {
  font-size: 2.2em;
  text-align: left;
  width: 100%;
}
.cafe-menu th {
  text-decoration: underline;
}
.cafe-menu td {
  color: white;
  text-align: center;
}
.cafe-menu tr > :first-child {
  text-align: left;
}
.cafe-menu-bold tr > :first-child {
  font-weight: 700;
}
.cafe-menu table ol {
  text-align: left;
}
.cafe-menu table ol ::marker {
  font-weight: 700;
}

.cafe-info {
  display: grid;
  align-content: center;
  color: white;
}
.cafe-info table {
  text-align: center;
}
.cafe-info iframe {
  margin: 25px auto;
}
.cafe-info a {
  color: white;
}

.cafe-discounts h2{
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.cafe-discounts td {
  color: white;
  font-size: 3em;
}

/*--------------Bella Italia page styles--------------*/
.bella-body {
  background-color: white;
  color: black;
  max-width: 1000px;
}

.bella-body .current-tab {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #277b3d;
}

.bella-header {
  margin: 0;
  text-align: center;
}
.bella-header h1 {
  font-size: 5em;
  font-weight: 800;
  color: #277b3d;
  text-decoration: underline;
  text-decoration-color: red;
  margin-bottom: 5px;
}
.bella-header img {
  max-height: 250px;
}
.bella-header h2 {
  font-size: 2.5em;
  font-weight: 400;
  color: black;
  margin-bottom: 5px;
  margin-top: 0;
}
.bella-header a {
  font-size: 2.5em;
  font-weight: 400;
  color: black;
  margin-bottom: 5px;
  margin-top: 0;
}

.bella-navigation {
  font-size: 2em;
  color: #277b3d;
  text-decoration: none;
  display: grid;
  grid-column-gap: 5px;
  margin-bottom: 15px;
}

.bella-navigation {
  width: 100%;
}
 #bella-nav-button {
   width: 100%;
   background-color: #277b3d;
   border: none;
 }
 #bella-nav-button img{
  height: 55px;
  margin-right: 10px;
 }
 .bella-nav-list {
   background-color: #277b3d;
   margin-bottom: 20px;
   padding: 0;
   text-align: left;
   height: 0;
   overflow: hidden;
   transition: .3s all;
 }
 .bella-nav-list ul {
   margin: 0;
 }
 .bella-nav-list li {
   list-style-type: none;
   color: black;
 }
 .bella-nav-list li::marker{
   font-size: 10px;
 }
 .bella-nav-list button {
   font-size: 2.5em;
   background: none;
   border: none;
 }
 .bella-nav-list-show {
   height: auto;
 }

.bella-menu, .bella-info, .bella-events, .bella-reviews, .bella-discounts {
  margin: auto;
  width: 85%;
  padding: 40px;
  border: 10px solid #277b3d;
  outline: 10px solid red;
  outline-offset: -30px;
}
.bella-menu h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 4em;
  text-decoration: underline;
}
.bella-menu p {
  color: black;
  font-size: 2em;
}
.bella-menu table, .bella-info table {
  font-size: 2.2em;
  text-align: left;
  width: 100%;
  line-height: 1;
}
.bella-menu td {
  border-bottom: 2px dotted black;
}
.bella-menu span {
  font-size: 0.7em;
}

.bella-info {
  display: grid;
  align-content: center;
  color: black;
}
.bella-info table {
  text-align: center;
}
.bella-info iframe {
  margin: 25px auto;
}
.bella-info a {
  color: #277b3d;
}

.bella-discounts h2{
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.bella-discounts td {
  color: black;
  font-size: 3em;
}
/*--------------Toggle menu styles--------------*/


/*For computer screens*/
@media (min-width: 1000px) {
  body {
    background: gray;
    max-width: 1000px;
    margin: 0 auto;
  }
}
